<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
	$.ajax({
	   url: '/users',
	   headers: { 'Access-Control-Allow-Origin': '*' },
	   dataType: 'json',
	   type: 'GET',
	   xhrFields: { withCredentials: false },
	   success: function(response){
			console.log(response);
			alert("Sucess!!");
	   },
	   error: function() { 
	        alert('Failed!'); 
	   },
	})
  });
});

</script>
</head>
<body>

<button>Send an HTTP GET request to a page and get the result back</button>

</body>
</html>